.encabezadoPrincipal {
    background: lightblue;
    color: black;
    padding: 10px, 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.titulo-encabezado {
    font-size: 25px;
    margin-left: 25px;
}

.links-encabezado {
    padding: 10px 20px;
    margin-left: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botones {
    margin-left: 10px;
    text-decoration: none;
    color: whitesmoke;
    padding: 5px, 10px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}
