.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  background-color: #8faeec;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
  position: fixed;
}

nav#navbar {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


nav#navbar .logo {
  padding-top: 4px;
  width: 60px;
  border-radius: 50%;
}

div.container {
  width: 2030px;
  height: 70px;
}

/**/
.App-body{
  height: 1000px;
  background-color: #282c34;
}

.Principal{
  color: white;
  font-size: 30px;
  padding-top: 70px;
}